<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DXThemeManager>
            <setting name="ApplicationThemeName" serializeAs="String">
                <value>MetropolisDark</value>
            </setting>
        </DXThemeManager>
    </userSettings>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
      <bindings>
          <netNamedPipeBinding>
              <binding name="NetNamedPipeBinding_ISmartComDataService">
                  <security mode="None" />
              </binding>
              <binding name="NetNamedPipeBinding_IDataBase">
                  <security mode="None" />
              </binding>
              <binding name="NetNamedPipeBinding_ISmartComData">
                  <security mode="None" />
              </binding>
              <binding name="NetNamedPipeBinding_IDataBase1">
                  <security mode="None" />
              </binding>
          </netNamedPipeBinding>
          <netTcpBinding>
              <binding name="NetTcpBinding_ISpeculatorData" closeTimeout="00:10:00"
                  openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                  maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                  <security mode="None" />
              </binding>
              <binding name="NetTcpBinding_IMoexData">
                  <security mode="None" />
              </binding>
          </netTcpBinding>
      </bindings>
      <client>
          <endpoint address="net.tcp://127.0.0.1/SpeculatorData/" binding="netTcpBinding"
              bindingConfiguration="NetTcpBinding_ISpeculatorData" contract="SpeculatorData.ISpeculatorData"
              name="NetTcpBinding_ISpeculatorData" />
          <endpoint address="net.pipe://127.0.0.1/Speculator/SmartComData/"
              binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ISmartComData"
              contract="SmartComData.ISmartComData" name="NetNamedPipeBinding_ISmartComData" />
          <endpoint address="net.pipe://127.0.0.1/Speculator/SmartComData/"
              binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IDataBase1"
              contract="SmartComData.IDataBase" name="NetNamedPipeBinding_IDataBase" />
          <endpoint address="net.tcp://127.0.0.1:51000/Speculator/MoexData/"
              binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMoexData"
              contract="MoexData.IMoexData" name="NetTcpBinding_IMoexData" />
      </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
