<?xml version='1.0' encoding='utf-8'?>
<SettingsFile xmlns="http://schemas.microsoft.com/VisualStudio/2004/01/settings" CurrentProfile="(Default)" GeneratedClassNamespace="SpeculatorService.Properties" GeneratedClassName="Settings">
  <Profiles />
  <Settings>
    <Setting Name="SmartComLogin" Type="System.String" Scope="Application">
      <Value Profile="(Default)" />
    </Setting>
    <Setting Name="SmartComPassword" Type="System.String" Scope="Application">
      <Value Profile="(Default)" />
    </Setting>
    <Setting Name="SmartComHost" Type="System.String" Scope="Application">
      <Value Profile="(Default)" />
    </Setting>
    <Setting Name="SmartComPort" Type="System.Int32" Scope="Application">
      <Value Profile="(Default)">0</Value>
    </Setting>
  </Settings>
</SettingsFile>