<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SpeculatorServiceHost.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="SpeculatorServicesBehavior" name="SpeculatorServices.SmartCom.SmartComData">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="SpeculatorNetTcpBinding" contract="SpeculatorServices.SmartCom.ISmartComData" />
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="SpeculatorNetTcpBinding" contract="SpeculatorServices.IDataBase" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1/Speculator/SmartComData/" />
            <add baseAddress="http://127.0.0.1:52001/Speculator/SmartComData/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="SpeculatorNetTcpBinding" closeTimeout="00:05:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxConnections="10" maxBufferPoolSize="50000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="50000000" maxArrayLength="50000000" maxBytesPerRead="50000000" maxNameTableCharCount="50000000" />
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="SpeculatorNamePipeBinding" closeTimeout="00:05:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxConnections="10" maxBufferPoolSize="50000000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="50000000" maxArrayLength="50000000" maxBytesPerRead="50000000" maxNameTableCharCount="50000000" />
          <security mode="None">
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="SpeculatorServicesBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <SpeculatorServiceHost.Settings>
      <setting name="SmartComHost" serializeAs="String">
        <value>mx2.ittrade.ru</value>
      </setting>
      <setting name="SmartComPort" serializeAs="String">
        <value>8443</value>
      </setting>
      <setting name="SmartComLogin" serializeAs="String">
        <value>---</value>
      </setting>
      <setting name="SmartComPassword" serializeAs="String">
        <value>---</value>
      </setting>
    </SpeculatorServiceHost.Settings>
  </applicationSettings>
</configuration>
